.contenido_existente{
    color: red;
    font-family: arial;
    font-weight: normal;
    font-size: 16px;
}
.contenido_generado{
    color: blue;
    font-family: helvetica;
    font-weight: bold;
    font-size: 10px;
}